
#sign-in-main {
    background: #9CECFB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
  
.card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}
  
.card-signin .card-body {
    padding: 2rem;
}

/* profile styling */

.profile-styling{

    font-size: 120%;
    font-weight: bold;
    border-bottom: 1px solid black; 
}

#top{

    background-image: url('../img/top.jpg');
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
    padding: 40px;
}

.item-delete-btn{

    display: none;
}

.item:hover .item-delete-btn{

    display: inline;
}

#inlist{
    overflow:hidden; 
    word-wrap:normal 
    break-word; 
}